{% extends 'base.html' %}
{%block title %} Add Movie {% endblock %}
{% block navbar2 %}
 <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id='movietitleIMDb'>
      <button class="btn btn-outline-success my-2 my-sm-0" class='movietitle' id='imdbsearch' type="submit">Search IMDb</button>
    </form>

{% endblock %}
{% block content %}
<div class="container">
<p>
    <form action='/add-movie-to-journal'>
    <span>Movie title: <input type='text' id='movietitle' name='title' required>  
    IMDb_ID: <input type='text' id='imdbid' name='imdbid' required>
    IMDB rating: <input type='text' id='imdb_rating' name='imdb_rating' required>
    Release date: <input type='text' id='released' name='released' required>
    Genre: <input type='text' id='genre' name='genre' required><br>
    <div>
        Plot: <br><textarea id='plot' name='plot'></textarea><br>
     </div>   
     <input type='hidden' id='movie_url' name='movie_url'>
     <input type='hidden' id='poster_img' name='poster_img'>
    <div>
        Enter Your Rating: <input type='number' name='rating' class="rating rating-loading" data-min="1" data-max="5" data-step="1" value="0" required><br>
    <p>Write Your Review:</p>
    
        <textarea name='review' required></textarea>
    </div><br>
   <!--  Date: <input type='text' name='review_date'><br> -->
    <input type='submit' value='Add Movie to Journal'><br><br>
<script src='http://code.jquery.com/jquery.js'></script>
<script src ='static/JS/search_imdb.js'></script>
<table id='movie_search'>
   
</table>


</div>




   

{% endblock %}