<!doctype html>
<html>
<head>
    <title>{%block  title %} Title {% endblock %}</title>
</head>
<body>

{% with messages = get_flashed_messages() %}
{% if messages %}

{% for message in messages %}
<span>{{ message }} </span> 
{% endfor %}


{% endif %}
{% endwith %}


{% if session %}
<form action = "/logout">
<input type='submit' value="Log Out">
</form>

{% endif %}

<button type="button" onclick="goBack()">{% block backbutton%} Go Back {% endblock %}</button>

<script>
function goBack() {
    window.history.back();
}
</script>

    {% block content%} body content {% endblock %}

</body>
</html>