<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.3/css/star-rating.min.css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:700|Satisfy" rel="stylesheet">
    <link href='static/css/base.css' rel='stylesheet'>
   

    <title>{%block  title %} Title {% endblock %}</title>
</head>

<body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.3/js/star-rating.min.js"></script>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
        </button>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
                <a class="nav-link" class="nav-link" href="#" onclick="goBack()">Back</a>
           </li>
           {% block navbar1 %} {% endblock %}           
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-2 order-md-0 dual-collapse2">
        {% block navbar2 %} {% endblock %}     
    </div>
    <div class="navbar-collapse collapse w-100 order-3 order-md-0 dual-collapse2">
        {% block navbar3 %} {% endblock %}     
        {% if session['current_user'] %}
        <!-- <span class="navbar-text">{{ session['current_user_name'] }}</span> -->
        <ul class="navbar-nav ml-auto navbar-right list-inline">
            <li class="navbar-text">{{ session['current_user_name'] }}</li>
            <li class="nav-item">
            <a class="nav-link" href="/logout" ><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
        </ul>
        {% endif %}
    </div>
</nav>
 
{% with messages = get_flashed_messages() %}
{% if messages %}

{% for message in messages %}
<div id='flash'>{{ message }} </div> 
{% endfor %}

{% endif %}
{% endwith %}


<script type="text/javascript">
function goBack() {
    window.history.back();
}
</script>

    {% block content%} body content {% endblock %}

</body>
</html>