<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/css/star-rating.min.css" />
    
    
    <title>{%block  title %} Title {% endblock %}</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/js/star-rating.min.js"></script>
    
 


{% with messages = get_flashed_messages() %}
{% if messages %}

{% for message in messages %}
<span>{{ message }} </span> 
{% endfor %}


{% endif %}
{% endwith %}


{% if session %}
<form action = "/logout">
<input type='submit' value="Log Out">
</form>

{% endif %}

<button type="button" onclick="goBack()">Go Back </button>

<script>
function goBack() {
    window.history.back();
}
</script>

    {% block content%} body content {% endblock %}

</body>
</html>