{% extends 'base.html' %}
{% block title %} Moviescope:MyMovies {% endblock %}
{% block navbar1 %}
<li class="nav-item">
    <a class="nav-link" href='/add-movie'>Add Movie</a>
</li>
<li class="nav-item">
    <a class="nav-link" href='/wish-list'>Wish List</a>
</li>
{% endblock %}

{% block content %}
<div class = 'container'>
    <p><h2>You May Like It</h2></p>
 <div class='row'>
        {% for recom_movie in recom_movies %}
        <div class='col-2'>
            <a href='/movie-page?imdb_id={{recom_movie['imdbID']}}'><img id = 'recom_img' src='{{recom_movie['Poster']}}'></a>
        </div>
        {% endfor %}
 </div>
</div>

<p><h2>My Movies</h2></p>
<div class = 'container-fluid' >
<div class="table-wrapper-scroll-y" id='table'>
<table class='table table-hover' id='journal'>   
    <thead class="thead-dark" id='th_journal'>  
        <tr>   
            <th >Poster</th>
            <th >Movie Title</th>
            <th >Release Date</th>
            <th width='300'>Plot</th>
            <th >Genre</th>
            <th >IMDb Rating</th>
            <th  width='70'>My Rating</th>
            <th >My Review</th>
            <th >Review Date</th>
            <th ></th>
            <th > </th>
        </tr>
    </thead>
    <tbody  id='tb_journal'>
    {% for movie_review in movies_reviews %}
    <tr id='tr_journal'>
        {% with %}
        {% set movie = movie_review[0] %} 
        {% set review = movie_review[1] %}
        <td width='70' hight='100'><img src='{{ movie.poster_img }}' width='70'></td>
        <td width='150'><a href=' /movie-page?imdb_id={{movie.imdb_id}}'>{{ movie.title}} </td>
        <td>{{ movie.usa_release_date }}</td>
        <td width='70'>{{ movie.plot }}</td>
        <td>
        {% for genre in movie.genres %}
        {{ genre.genre_title }},
        {% endfor %}
        </td>
        <td style='text-align:center'>{{movie.imdb_rating }}</td>
        <td  class='rating' width='80'>            
            {% for i in range (0, review.rating) %}
                <span><i class="text-warning fas fa-star" style="font-size:7px"></i></span>
            {% endfor %}
        </td>
        <td  class='review' width='200'>{{review.review }}</td>
        <td class='date_review'>{{review.date_review }}</td>

        <!-- Trigger/Open The Modal -->
        <td><label type="button" class='btn' data-toggle='modal' data-target='#modal-edit{{movie.movie_id}}' value='{{ movie.movie_id }}'>
                <span class="icon-plus"></span> Edit Review
            </label>
           
        <!-- EDIT REVIEW POPUP WINDOW-->

        <!-- The Modal -->
        <div class="modal" id="modal-edit{{movie.movie_id}}" role='dialog'>

        <!-- Modal content -->
        <div class="modal-dialog">
            <div class='modal-content'>
                <div class='modal-header'>
                    <h4 class='modal-title'> Edit your review for {{movie.title}}</h4>
                    <button type='button' class='close' data-dismiss='modal'>X</button>
                </div>
                <div class='modal-body'>
                 <form>
                    <input type='hidden' name='movie_id' value='{{movie.movie_id}}'>
                   <br>
                   <br>
                   <br>
                   <br>
                   <textarea class='new_review' name='review' value=>{{ review.review }}</textarea></p>
                   <div class="d-inline-block">
                       <input class="rating rating-loading" id='new_rating' type='number' name ='rating' value='{{ review.rating }}' data-min="1" data-max="5" data-step="1" >
                   </div>
                   <div class="d-inline-block" id='btns'>
                       <button class='btn-modal' type='button'  data-dismiss='modal' >Cancel</button>
                        <button class='btn-modal' type='button' id='confirm-edit' data-dismiss='modal' >Confirm</button>
                     </div>
                  </form>
                </div> <!-- end .model-body-->
            </div> <!-- end .model-content -->
        </div> <!--end .model-dialog  -->
        </div> <!--end .model -->

        <!-- END POPUP MODEL -->
        </td> 
        <td value='{{ movie.movie_id }}'><label  type='button' id='deleteMovie' class='btn' value='{{ movie.movie_id }}'>Delete </label></td>
        {% endwith %}
    </tr>
    {% endfor %}
    </tbody>    
</table>
</div>
</div>
</div>

<link href='static/css/homepage.css' rel='stylesheet'>

<script type="text/javascript" src='http://code.jquery.com/jquery.js'></script>
<script type="text/javascript" src ='/static/JS/edit_review.js'></script>
<script type="text/javascript" src ='/static/JS/delete_from_journal.js'></script>


{% endblock %}