{% extends 'base.html' %}
{% block title %} Movie Journal {% endblock %}
{% block content %}
<p><a href='/add-movie'>Add Movie to Journal</a></p>
<p><h2>My Watched Movies List</h2></p>
<table>
    <th>Poster</th>
    <th>Movie Title</th>
    <th>Release Date</th>
    <th>Plot</th>
    <th>Genre</th>
    <th>IMDb Rating</th>
    <th>My Rating</th>
    <th>My Review</th>
    <th>Review Date</th>

    {% for movie_review in movies_reviews %}
    <tr>
        {% with %}
        <!--  -->
        {% set movie = movie_review[0] %} 
        {% set review = movie_review[1] %}
        <td><img src='{{ movie.poster_img }}' width='50' hight='50'></td>
        <td><a href=' {{ movie.movie_url }}'>{{ movie.title}} </td>
        <td>{{ movie.usa_release_date }}</td>
        <td>{{ movie.plot }}</td>
        
        <td>
        {% for genre in movie.genres %}
        {{ genre.genre_title }},
        {% endfor %}</td>

        <td>{{movie.imdb_rating }}</td>
        <td>{{review.rating }}</td>
        <td>{{review.review }}</td>
        <td>{{review.date_review }}</td>
        <td><button  onclick="editReview()">Edit Review </button>
        <td><button  id='deleteMovie' value='{{ movie.movie_id }}'>Delete </button>



        {% endwith %}
    </tr>
       
    {% endfor %}
    
</table>
<script src='http://code.jquery.com/jquery.js'></script>
<!-- <script src ='static/JS/edit_movie.js'></script> -->
<script src ='static/JS/delete_from_journal.js'></script>



{% endblock %}