{% extends 'base.html' %}
{% block title %} Moviescope: {{ movie['Title'] }} {% endblock %}
<link rel="stylesheet" type="text/css" href="movie-page.css">
{% block navbar1 %}
<li class="nav-item">
    <a class="nav-link" href='/homepage'>My Movies</a>
</li>
<li class="nav-item">
    <a class="nav-link" href='/add-movie'>Add Movie</a>
</li>
<li class="nav-item">
    <a class="nav-link" href='/wish-list'>Wishlist</a>
</li>
{% endblock %}

{% block content %}
<div class='container'>
    <div class='row' id='movie-part'>
        <div class='col-4'>
            <img id='poster_img' src='{{ movie['Poster'] }}'><br>
            {% if rating %}
            <ul class="list-inline">
                <li><em> In your Journal</em></li>
                <li>{% for i in range (0, rating) %}
                <i class="text-warning fas fa-star" style="font-size:20px"></i></li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class='col-8' id='movie-info'>
            <ul class="list-inline">
                <li id='movietitle'><h1>{{ movie['Title'] }}</h1></li>
                <li><h3>({{ movie['Year'] }})</h3></li>
                <li><strong>{{ movie['Runtime'] }}</strong></li>                
            </ul>
            <ul class="list-inline">
               <li id='genre'><em>  {{ movie['Genre'] }}</em></li>
               <li id='released'><em>Released:</em> <strong>{{ movie['Released'] }}</strong></li>
               <li><em>IMDB rating: </em> <strong id='imdb_rating'>{{movie['imdbRating']}} </strong></li>
               <li><em>imdbID:</em><strong> {{movie['imdbID']}}</strong></li>
            </ul>
            <ul class="list-inline">
               <li><em> Official WebSite:</em></li>
               <li id='movie_url'><strong> <a href='{{movie['Website']}}'>{{movie['Website']}}</strong></a></li>
            </ul>
            <p id='plot'><strong>{{movie['Plot']}}</strong></p>
             <ul class="list-inline">
                <li><em>Director: </em></li>
                <li><strong>{{movie['Director']}}</strong></li>
            </ul>
            <ul class="list-inline">
                <li><em>Actors:</em> </li>
                <li><strong>{{movie['Actors']}}</strong></li>
            </ul>
            <ul class="list-inline">
                <li><em> Awards:</em></li>
                <li><strong> {{movie['Awards']}}</strong></li>
            </ul>
        <div class='row'>
            <div class='col'>
                {% if not in_wishlist %}
              <button type="button" class="btn btn-primary" id='moviep_withlist_btn'
               >Add To Wish List</button>
              <input type='hidden' id='imdbid' value='{{movie['imdbID']}}'>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
</div>   
<div class='container'> 
        <p id='recom' class="text-right font-weight-bold">You May Like it</p>
  
    <div class='row'>
        {% for recom_movie in recom_movies %}
        <div class='col-2'>
            <a href='/movie-page?imdb_id={{recom_movie['imdbID']}}'><img id = 'recom_img' src='{{recom_movie['Poster']}}'></a>
        </div>
        {% endfor %}
    </div>    
</div>

<link rel="stylesheet" type="text/css" href="static/css/movie-page.css">
<script src='http://code.jquery.com/jquery.js'></script>
<script src ='static/js/movie_page.js'></script>

{% endblock %}