{% extends 'base.html' %}

{% block title %} Moviescope: Sign-In {% endblock %}

{% block navbar3 %}
<form action='/login' method='POST'>
  <div class="form-row align-items-center"> -->
    <div class="col-auto">
      <input type="text"  class="form-control" id="inlineFormInput" name ='email'  placeholder="email" style='width:130px' required>
    </div>
    <div class="col-auto">
      <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="password" name ='password' required style='width:100px'>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn" style='background-color:#68abee'>Sign-In</button>
    </div>
 </div>
</form>
{% endblock %}
{% block content %}
<div class='container'>
  <div class='row'>
  <!-- <div class='col-4' id='registration'> -->
<div class='col-8' id='welcome'>
  <h1 id='moviescope'> Moviscope </h1>

  <h2 id='statement'> Keeps track of films you watch.</h2>
  <h2 id='statement'> Add reviews, ratings and compile your wishlist.</h2>

</div>  
<form class='col' id='registration' width action='/sign-up' method='POST'  >
  <h1>Registration</h1>
  <div class="form-group">
    <input type="email" id ='email' class="form-control" placeholder="Email" name='email' required>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" name='password' required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control"  placeholder="First Name" name='fname' required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Last Name" name='lname' required>
  </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

<!-- </div> -->

</div>
</div> 
   <link href='static/css/sign-in.css' rel='stylesheet'>

{% endblock %}

